<div class="news-modal modal fade" id="aggramar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Aggramar</h2>
                            <p class="item-intro text-muted">10/11 Mythisch</p>

                            <img class="img-fluid d-block mx-auto" src="images/aggramar-guild.png" alt=""/>

                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/yg1DEiwBM58"
                                        frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="true"></iframe>
                            </div>

                            <br/>
                            <br/>

                            <h3>Setup</h3>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><span class="deathknight name">Zertox</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Zertox">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <td><span class="paladin name">Oagoag</span>
                                </td>
                                <td><a target="_blank"
                                       href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Oagoag">
                                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                </td>
                                <tr>
                                    <td><span class="deathknight name">Shengmìng</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/2-Shengmìng">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Bartuck</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Bartuck">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Improval</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Improval">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Sillona</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Sillona">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Dardeya</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Dardeya">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Woker</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Woker">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Blardo</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Blardo">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Landogar</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Landogar">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Magdulu</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Magdulu">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Longpipe</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Longpipe">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Nylai</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Nylai">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Tilon</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Tilon">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Anitarah</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Anitarah">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Shooterella</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Shooterella">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Talordius</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Talordius">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priest name">Çirilla</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/10-Çirilla">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Noggerine</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Noggerine">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Omegalul</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/tYNnMjHVCv1Qfzmh/9-Mythic+Aggramar+-+Kill+(8:19)/Omegalul">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="list-inline text-muted">
                                <li>@ 21. März 2018</li>
                                <li>Sillona</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary close-button" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>