<div class="news-modal modal fade" id="archive" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Video Archiv</h2>
                            <p class="item-intro text-muted">Einige Videos aus alten Raids</p>

                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ut2_L1zvaaw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/zrdHzT8x3z0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/kNzTMAwMLEw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/DWiaHEu4D4E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/XNw1u6U2COg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/UfPCmwiNjdM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>
                            <ul class="list-inline">
                                <li>@ 3. Februar 2018</li>
                                <li>Sillona</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>