<div class="news-modal modal fade" id="argus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase">Argus</h2>
              <p class="item-intro text-muted">11/11 Mythisch</p>

              <img class="img-fluid d-block mx-auto" src="images/argus-guild1.png" alt=""/>

              <br/>
              <span class="paladin name">Sillona</span>
              <div class="responsive-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/grhFBWNokHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
              </div>
              <br/>
              <span class="rogue name">Noggerine</span>
              <div class="responsive-video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5C2OudVVfMg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
              </div>

              <br/>
              <br/>

              <h3>Setup</h3>
              <table style="margin: 0 auto;">
                <tr>
                  <td><span class="deathknight name">Zertox</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/7-Zertox">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="paladin name">Oagoag</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/5-Oagoag">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="demon_hunter name">Mæsa</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/6-M%C3%A6sa">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="paladin name">Sillona</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/8-Sillona">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="paladin name">Talordius</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/9-Talordius">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="priest name">Vastosaurus</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/4-Vastosaurus">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="shaman name">Xarvion</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/2-Xarvion">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="warrior name">Blardo</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/33-Blardo">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="warrior name">Landogar</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/21-Landogar">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="shaman name">Woker</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/24-Woker">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="rogue name">Dardeya</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/10-Dardeya">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="rogue name">Noggerine</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/1-Noggerine">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="rogue name">Çathrina</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/97-%C3%87athrina">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="hunter name">Elfalas</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/31-Elfalas">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="hunter name">Longpipe</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/18-Longpipe">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="hunter name">Shooterella</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/34-Shooterella">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="mage name">Maevelyn</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/15-Maevelyn">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="warlock name">Nylai</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/3-Nylai">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="rogue name">Tilon</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/11-Tilon">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
                <tr>
                  <td><span class="priest name">Mîtschl</span>
                  </td>
                  <td><a target="_blank"
                         href="https://wowanalyzer.com/report/dK8ngZJ23yWzLHAa/13-Mythic+Argus+the+Unmaker+-+Kill+(10:48)/17-M%C3%AEtschl">
                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                  </td>
                </tr>
              </table>

              <ul class="list-inline text-muted">
                <li>@ 8. Juni 2018</li>
                <li>Sillona</li>
              </ul>
            </div>
          </div>
        </div>
        <button class="btn btn-primary close-button" data-dismiss="modal" type="button">
          <i class="fa fa-times"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>
