<div class="news-modal modal fade" id="coven" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Coven of Shivarra</h2>
                            <p class="item-intro text-muted">9/11 Mythisch</p>

                            <img class="img-fluid d-block mx-auto" src="images/shivarra-guild1.png" alt=""/>

                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/bWIaspBMJyg"
                                        frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="true"></iframe>
                            </div>

                            <br/>
                            <br/>

                            <h3>Setup</h3>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><span class="deathknight name">Zertox</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Zertox">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <td><span class="druid name">Stressfaktor</span>
                                </td>
                                <td><a target="_blank"
                                       href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Stressfaktor">
                                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                </td>
                                <tr>
                                    <td><span class="druid name">Magdulu</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Magdulu">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Anitarah</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Anitarah">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Elfalas</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Elfalas">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Longpipe</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Longpipe">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Shooterella</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Shooterella">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mage name">Quxlike</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Quxlike">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mage name">Maevelyn</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Maevelyn">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Sillona</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Sillona">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Mîtschl</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/20-Mîtschl">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Indertat</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Indertat">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Vastosaurus</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Vastosaurus">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Noggerine</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Noggerine">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Dardeya</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Dardeya">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Woker</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Woker">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Xarvion</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Xarvion">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Omegalul</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Omegalul">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Tilon</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Tilon">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Nylai</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/CVRbhjgDn2NW7J1t/16-Mythic+The+Coven+of+Shivarra+-+Kill+(7:44)/Nylai">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="list-inline text-muted">
                                <li>@ 11. Februar 2018</li>
                                <li>Sillona</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary close-button" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
