<div class="news-modal modal fade" id="kingaroth" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Kin'garoth</h2>
                            <p class="item-intro text-muted">7/11 Mythisch</p>

                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/fOHCQqKLp9s"
                                        frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="true"></iframe>
                            </div>

                            <br/>
                            <br/>

                            <h3>Setup</h3>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><span class="deathknight name">Zertox</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Zertox">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <td><span class="demon_hunter name">Mæsa</span>
                                </td>
                                <td><a target="_blank"
                                       href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Mæsa">
                                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                </td>
                                <tr>
                                    <td><span class="druid name">Improval</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Improval">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Magdulu</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Magdulu">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Anitarah</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Anitarah">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Shooterella</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Shooterella">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mage name">Maevelyn</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Maevelyn">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Nephylia</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Nephylia">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Oagoag</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Oagoag">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Sillona</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Sillona">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Mîtschl</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Mîtschl">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Vastosaurus</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Vastosaurus">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Noggerine</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Noggerine">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Dardeya</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Dardeya">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Woker</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Woker">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Xarvion</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Xarvion">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Omegalul</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Omegalul">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Nylai</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Nylai">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Blardo</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Blardo">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Slayt</span>
                                    </td>
                                    <td><a target="_blank"
                                           href="https://wowanalyzer.com/report/zvXKjpDbAW1ChJkP/14-Mythic+Kin'garoth+-+Kill+(7:59)/Slayt">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="list-inline text-muted">
                                <li>@ 3. Februar 2018</li>
                                <li>Sillona</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary close-button" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>