<div class="news-modal modal fade" id="varimathras" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <h2 class="text-uppercase">Varimathras</h2>
                            <p class="item-intro text-muted">8/11 Mythisch</p>

                            <img class="img-fluid d-block mx-auto" src="images/varimathras-guild1.png" alt=""/>


                            <br/>
                            <div class="responsive-video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/1p7mmYR7HbE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="true"></iframe>
                            </div>

                            <br/>
                            <br/>

                            <h3>Setup</h3>
                            <table style="margin: 0 auto;">
                                <tr>
                                    <td><span class="deathknight name">Zertox</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Zertox">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <td><span class="demon_hunter name">Mæsa</span>
                                </td>
                                <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Mæsa">
                                    <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                </td>
                                <tr>
                                    <td><span class="druid name">Stressfaktor</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Stressfaktor">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="druid name">Anitarah</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Anitarah">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="hunter name">Shooterella</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Shooterella">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mage name">Quxlike</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Quxlike">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="mage name">Maevelyn</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Maevelyn">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="monk name">Finàl</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Finàl">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Oagoag</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Oagoag">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="paladin name">Sillona</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Sillona">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="priests name">Vastosaurus</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Vastosaurus">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Noggerine</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Noggerine">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="rogue name">Dardeya</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Dardeya">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Woker</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Woker">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Xarvion</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Xarvion">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="shaman name">Omegalul</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Omegalul">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warlock name">Nylai</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Nylai">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Landogar</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Landogar">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Blardo</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Blardo">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="warrior name">Slayt</span>
                                    </td>
                                    <td><a target="_blank" href="https://wowanalyzer.com/report/JCf9mD4jgqMA31HF/33-Mythic+Varimathras+-+Kill+(4:11)/Slayt">
                                        <img border="0" src="/images/wowanalyzer.png" width="20" height="20"/></a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="list-inline text-muted">
                                <li>@ 5. Februar 2018</li>
                                <li>Sillona</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary close-button" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>