.discord-widget {
  border: 2px solid #3e4a6a !important;
  background: #131825 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  margin: 0px !important;
}

.discord-title {
  background-color: #131825 !important;
}
