<section id="roster">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h2>ROSTER BATTLE FOR AZEROTH</h2>
        <hr/>
      </div>
      <br/>
      <br/>
      <br/>
      <div class="col-md-12 col-lg-3 mx-auto text-center">
        <div class="recruitment-box">
          <div class="row">
            <div class="col-lg-12 recruitment name text-center">TANK</div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment demon_hunter name">Mæsa</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/DemonHunter-Vengeance.jpg" title="Vengeance"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment paladin name">Oagoag</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Paladin-Protection.jpg" title="Protection"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment deathknight name">Zertox</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/DeathKnight-Blood.jpg" title="Blood"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment druid name">Stressfaktor</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Druid-Guardian.jpg" title="Guardian"/>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 col-lg-3 mx-auto text-center">
        <div class="recruitment-box">
          <div class="row">
            <div class="col-lg-12 recruitment name text-center">HEAL</div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment shaman name">Xarvion</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Shaman-Restoration.jpg" title="Restoration"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment paladin name">Sillona</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Paladin-Holy.jpg" title="Holy"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment priest name">Talordius</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Priest-Discipline.jpg" title="Discipline"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment priest name">Vastosaurus</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Priest-Discipline.jpg" title="Discipline"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment druid name">Anitarah</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Druid-Restoration.jpg" title="Restoration"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment monk name">Howk</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Monk-Mistweaver.jpg" title="Mistweaver"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment druid name">Improval</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Druid-Restoration.jpg" title="Restoration"/>
            </div>
          </div>


        </div>
      </div>

      <div class="col-md-12 col-lg-3 mx-auto text-center">
        <div class="recruitment-box">
          <div class="row">
            <div class="col-lg-12 recruitment name text-center">MELEE</div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment rogue name">Cathrina</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Rogue-Outlaw.jpg" title="Outlaw"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment rogue name">Dardeya</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Rogue-Outlaw.jpg" title="Outlaw"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment rogue name">Noggerine</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Rogue-Outlaw.jpg" title="Outlaw"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment paladin name">Nephylia</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Paladin-Retribution.jpg" title="Retribution"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment monk name">Maevelyn</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Monk-Windwalker.jpg" title="Windwalker"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment warrior name">Landogar</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Warrior-Fury.jpg" title="Fury"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment warrior name">Blardo</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Warrior-Fury.jpg" title="Fury"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment warrior name">Slayt</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Warrior-Fury.jpg" title="Fury"/>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12 col-lg-3 mx-auto text-center">
        <div class="recruitment-box">
          <div class="row">
            <div class="col-lg-12 recruitment name text-center">RANGE</div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment hunter name">Shooterella</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Hunter-BeastMastery.jpg" title="BeastMastery"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment mage name">Bartuck</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Mage-Fire.jpg" title="Fire"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment warlock name">Nylai</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="needed" border="0" src="/images/classes/Warlock-Affliction.jpg" title="Affliction"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment hunter name">Elfalas</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Hunter-BeastMastery.jpg" title="BeastMastery"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment hunter name">Longpipe</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Hunter-BeastMastery.jpg" title="BeastMastery"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment warlock name">Tilon</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Warlock-Affliction.jpg" title="Affliction"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment druid name">Magdulu</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Druid-Balance.jpg" title="Balance"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment druid name">Brodi</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Druid-Balance.jpg" title="Balance"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment shaman name">Omegalul</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Shaman-Elemental.jpg" title="Elemental"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment priest name">Mitschl</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Priest-Shadow.jpg" title="Shadow"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment mage name">Crushnuck</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Mage-Fire.jpg" title="Fire"/>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 recruitment mage name">Woker</div>
            <div class="col-lg-6 recruitment text-right">
              <img class="" border="0" src="/images/classes/Mage-Fire.jpg" title="Fire"/>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
</section>
